@mixin font($size, $weight, $lineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

@mixin flexbox($display, $justify, $align, $wrap) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin truncate_text($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin mq_min_200 {
    @media screen and (min-width: 200px) {
        @content;
    }
}
@mixin mq_min_480 {
    @media screen and (min-width: 480px) {
        @content;
    }
}
@mixin mq_min_576 {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin mq_min_768 {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin mq_min_1024 {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin mq_min_1200 {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
