body, ul, p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Crimson Text", serif;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.link-hover {
  background-image: linear-gradient(to right, black, black);
  background-position: left calc(1em + 2px);
  background-repeat: no-repeat;
  display: inline;
  padding-bottom: 3px;
  transition: all 100ms linear;
  background-size: 0% 2px;
}
.link-hover:hover {
  background-image: linear-gradient(to right, black, black);
  background-position: left calc(1em + 2px);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  display: inline;
  padding-bottom: 3px;
  transition: all 100ms linear;
}

.container {
  margin: 0 auto;
}
.container > * {
  margin-top: 100px;
}
@media screen and (min-width: 200px) {
  .container {
    max-width: 340px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
}
.card-image:hover .image-product {
  cursor: pointer;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  font-size: 17px;
}

.name {
  font-weight: 500;
  font-size: 21px;
  word-wrap: break-word;
  cursor: pointer;
}

.buy {
  text-align: center;
  width: 100%;
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s linear;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.buy:hover {
  background-color: black;
  color: white;
}

h2.title {
  font-size: 28px;
  font-family: "DM Sans", sans-serif;
}

.icon-control {
  font-size: 13px;
}

.slick-disabled {
  cursor: default;
  opacity: 0.54;
}

.slick-dots {
  display: flex !important;
  align-items: center !important;
  position: unset !important;
}

.info-bar {
  background-color: black;
  color: white;
}
.info-bar .info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 40px;
}
@media screen and (min-width: 576px) {
  .info-bar .info-header {
    padding: 0 40px;
  }
}
.info-bar .info-header > * {
  margin-top: 0;
}
.info-bar .btn {
  color: white;
}
.info-bar select {
  display: none;
}
@media screen and (min-width: 768px) {
  .info-bar select {
    display: block;
    border-radius: 30px;
    background: none;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
  }
}
.info-bar .social-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .info-bar .social-icon {
    display: flex;
    justify-content: space-between;
    width: 8%;
    font-size: 20px;
  }
  .info-bar .social-icon a {
    display: flex;
    align-items: center;
  }
  .info-bar .social-icon a .fi {
    display: flex;
    align-items: center;
    color: white;
  }
}
.info-bar .discount-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-bar .discount-slider .discount {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .info-bar .discount-slider {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .info-bar .discount-slider .discount {
    text-align: center;
  }
}
.info-bar .discount-slider .slick-prev__discount-slider,
.info-bar .discount-slider .slick-next__discount-slider {
  color: white;
}

.header-main {
  border-bottom: 1px solid #e8e8e8;
}
.header-main .header {
  padding: 15px 20px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .header-main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px 40px;
  }
}
.header-main .header .menu-toggle .fi {
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  .header-main .header .menu-toggle {
    display: none;
  }
}
.header-main .header .side-nav {
  display: block;
  position: absolute;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal 
scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
@media screen and (min-width: 1024px) {
  .header-main .header .side-nav {
    display: none;
  }
}
.header-main .header .side-nav .sidebar__header {
  padding: 22px 20px 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.header-main .header .side-nav .sidebar__header h5 {
  margin: 0;
  text-decoration: none;
  font-size: 19px;
  color: black;
  display: block;
  transition: 0.3s;
}
.header-main .header .side-nav .sidebar__body .actions {
  width: 100%;
  padding: 20px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-bottom: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.header-main .header .side-nav .sidebar__body .actions .pickup-store,
.header-main .header .side-nav .sidebar__body .actions .delivery {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}
.header-main .header .side-nav .sidebar__body .actions .pickup-store .text-container,
.header-main .header .side-nav .sidebar__body .actions .delivery .text-container {
  display: flex;
  flex-direction: column;
}
.header-main .header .side-nav .sidebar__body .actions .pickup-store .text-container .caption,
.header-main .header .side-nav .sidebar__body .actions .delivery .text-container .caption {
  font-size: 12px;
  color: #1d1d1d;
}
.header-main .header .side-nav .sidebar__body .actions .pickup-store .text-container .title,
.header-main .header .side-nav .sidebar__body .actions .delivery .text-container .title {
  font-size: 15px;
  font-weight: 500;
}
.header-main .header .side-nav .sidebar__body .link-list > * {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.header-main .header .side-nav .sidebar__body .link-list .account {
  display: flex;
  align-items: center;
}
.header-main .header .side-nav .sidebar__body .link-list .account .fi {
  display: flex;
  margin-right: 12px;
  font-size: 22px;
}
.header-main .header .side-nav .sidebar__footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.header-main .header .side-nav .sidebar__footer .social-icon {
  font-size: 24px;
}
.header-main .header .side-nav .sidebar__footer .select-language select {
  border: none;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
}
.header-main .header .header-logo {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .header-main .header .header-logo {
    padding-right: 120px;
  }
}
.header-main .header .header-logo .logo {
  width: 107px;
  object-fit: contain;
}
.header-main .header .header-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  justify-items: stretch;
}
@media screen and (min-width: 1024px) {
  .header-main .header .header-actions {
    width: 100%;
  }
}
.header-main .header .header-actions > * {
  display: block;
  margin-right: 10px;
}
.header-main .header .header-actions .search {
  padding: 11px 36px 11px 53px;
  border-radius: 30px;
  border: 1px solid black;
  width: 100%;
  position: relative;
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .header-main .header .header-actions .search {
    margin-right: 10px;
  }
}
.header-main .header .header-actions .search .search-icon {
  font-size: 22px;
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header-main .header .header-actions .search {
    display: block;
    min-height: 50px;
    position: relative;
    width: 70%;
  }
  .header-main .header .header-actions .search .search-icon {
    font-size: 22px;
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
  }
}
.header-main .header .header-actions input {
  border: none;
  outline: none;
}
.header-main .header .header-actions input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.header-main .header .header-actions .account {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-main .header .header-actions .account {
    display: flex;
    align-items: center;
    position: relative;
    color: black;
    border: 1px solid black;
    min-height: 50px;
    padding: 0 20px 0 53px;
    border-radius: 30px;
    cursor: pointer;
  }
  .header-main .header .header-actions .account .fi-sr-user {
    font-size: 22px;
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
  }
  .header-main .header .header-actions .account:hover {
    background-color: black;
    color: white;
  }
}
.header-main .header .header-actions .cart {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-main .header .header-actions .cart {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.785);
    color: white;
    min-height: 50px;
    padding: 0 20px 0 53px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
  }
  .header-main .header .header-actions .cart .fi-rr-shopping-cart {
    font-size: 22px;
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
  }
  .header-main .header .header-actions .cart:hover {
    background-color: black;
    color: white;
  }
}
.header-main .header .cart-small {
  font-size: 22px;
}
@media screen and (min-width: 1024px) {
  .header-main .header .cart-small {
    display: none;
  }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu .menu-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0;
  padding: 15px 40px 15px 20px;
}
.menu .menu-main .menu-link {
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu .menu-main .menu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .menu .menu-main .menu-link .menu-link__item {
    font-weight: 500;
  }
  .menu .menu-main .menu-link .categories {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: -50px;
  }
  .menu .menu-main .menu-link .categories .sub-menu {
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .menu .menu-main .menu-link .categories .sub-menu .list-categories {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
  .menu .menu-main .menu-link .categories .sub-menu .menu-promotion {
    width: 45%;
    text-align: center;
  }
  .menu .menu-main .menu-link .categories .sub-menu .menu-promotion .background-promotion {
    position: relative;
    width: 320px;
    height: 220px;
  }
  .menu .menu-main .menu-link .categories .sub-menu .menu-promotion .background-promotion .content-promotion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu .menu-main .menu-link .categories .sub-menu .menu-promotion .background-promotion .content-promotion .explore {
    padding: 11px 36px;
    background-color: black;
    color: white;
    border-radius: 30px;
  }
  .menu .menu-main .menu-link .categories .sub-menu .menu-promotion .background-promotion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .menu .menu-main .menu-link .categories .sub-menu .product {
    font-weight: 500;
  }
  .menu .menu-main .menu-link .categories:hover {
    transition: all 0.1s ease-in-out;
  }
  .menu .menu-main .menu-link .categories:hover .sub-menu {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1 !important;
  }
}
.menu .menu-main .menu-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu .menu-main .menu-actions .pickup-store,
.menu .menu-main .menu-actions .delivery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .menu-main .menu-actions .pickup-store .text-container,
.menu .menu-main .menu-actions .delivery .text-container {
  display: flex;
  flex-direction: column;
}
.menu .menu-main .menu-actions .icon {
  font-size: 38px;
  display: flex;
  align-items: center;
}
.menu .menu-main .menu-actions .icon:hover {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .menu .menu-main .menu-actions {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .menu .menu-main .menu-actions .pickup-store,
  .menu .menu-main .menu-actions .delivery {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu .menu-main .menu-actions .icon {
    font-size: 38px;
    display: flex;
    align-items: center;
  }
  .menu .menu-main .menu-actions .icon:hover {
    text-decoration: none;
  }
  .menu .menu-main .menu-actions .text-hover {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .menu .menu-main .menu-actions .text-hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  .menu .menu-main .menu-actions .text-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .menu .menu-main .menu-actions .title {
    font-weight: 500;
  }
}
.menu .menu-main .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menu .menu-main .content a {
  background: black;
  color: white;
  text-align: center;
  border-radius: 30px;
}
.menu .menu-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .menu-main .icon {
  margin-right: 10px;
}

.content .slider {
  display: flex;
  flex-direction: column;
  cursor: grab;
  margin-top: 0;
  max-width: 100vw;
  width: 100%;
  overflow: hidden !important;
}
.content .slider .slide-item {
  width: 100%;
  height: 450px;
  position: relative;
}
.content .slider .slide-item .banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .slider .slide-item .content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content .slider .slide-item .content .subtitle {
  margin-bottom: 32px;
}
.content .slider .slide-item .content .title {
  margin: 0 0 16px;
  font-size: 44px;
}
.content .slider .slide-item .content .explore {
  margin: 32px 0 0;
  padding: 12px 32px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 20px;
}
.content .slick-dotted {
  margin-bottom: 10px !important;
}
.content .button-slide__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.content .button-slide__slider .slick-prev__slider .icon-control,
.content .button-slide__slider .slick-next__slider .icon-control {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.content .button-slide__slider .slick-disabled {
  cursor: default;
  opacity: 0.54;
}
.content .button-slide__slider .dots__slider .slick-dots {
  display: flex;
  align-items: center;
  position: unset;
}
.content .recruitment {
  margin-top: 2%;
  display: flex;
}
.content .recruitment .recruitment-title {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.content .recruitment .recruitment-title .recruitment-text {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #000000;
}
.content .recruitment .recruitment-title .recruitment-text:before {
  content: " ";
  width: 4px;
  height: 16px;
  background-color: #f20;
  display: inline-block;
  margin-right: 8px;
}
.content .recruitment .recruitment-title .recruitment-main-strike {
  height: 1px;
  background-color: #d8d8d8;
  flex-grow: 3;
  margin-left: 30px;
}
.content .recruitment .recruitment-slider {
  display: flex;
}
.content .recruitment .recruitment-slider .slick-next:before,
.content .recruitment .recruitment-slider .slick-prev:before {
  color: #ccc !important;
  font-size: 40px !important;
  margin: -10px !important;
}
.content .recruitment .recruitment-slider .slider-child {
  padding: 3%;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-slider-top {
  height: 60px;
  border-radius: 3px 3px 0 0;
  background-color: #cc0202;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-slider-main {
  height: 65px;
  background-color: #fff0ee;
  display: flex;
  padding: 5px 15px 7px;
  box-sizing: border-box;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-slider-main .recruitment-icon {
  background: linear-gradient(138.15deg, #3023ae, #c86dd7);
  flex: 0 0 57px;
  height: 57px;
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
  bottom: -10px;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-slider-main .recruitment-icon img {
  height: 57px;
  width: 57px;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-slider-main .recruitment-right .recruitment-salary {
  margin-top: 10px;
  color: #24253d;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-slider-main .recruitment-right .recruitment-position {
  color: #84909f;
  font-size: 12px;
  line-height: 1.4;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-content {
  padding: 20px 15px 10px;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-content .recruitment-text {
  color: #6d758c;
  font-size: 14px;
  margin-bottom: 10px;
}
.content .recruitment .recruitment-slider .slider-child .recruitment-content .recruitment-text i {
  width: 25px;
}
.content .best-seller .title-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .best-seller .title-container .title {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}
.content .best-seller .title-container a {
  border-bottom: 1px solid black;
}
.content .best-seller .card-info .list-card {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: nowrap;
}
.content .best-seller .card-info .list-card .slick-list {
  margin: 0 -10px;
}
.content .best-seller .card-info .list-card .slick-list .slick-slide {
  margin: 0 10px;
}
.content .best-seller .card-info .list-card .card-item {
  position: relative;
  min-height: 640px;
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid gainsboro;
  border-radius: 12px;
  padding: 5px;
  cursor: grab;
}
.content .best-seller .card-info .list-card .card-item .image-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .best-seller .card-info .list-card .card-item .card-content {
  padding: 25px;
  font-family: "DM Sans", sans-serif;
}
.content .best-seller .card-info .list-card .card-item .card-content > *:not(:last-child) {
  margin-bottom: 10px;
}
.content .best-seller .card-info .list-card .card-item .card-content .has-sale {
  display: flex;
  font-size: 17px;
}
.content .best-seller .card-info .list-card .card-item .card-content .has-sale .new-price {
  font-family: "DM Sans", sans-serif;
  margin-right: 10px;
}
.content .best-seller .card-info .list-card .card-item .card-content .has-sale .old-price {
  font-family: "DM Sans", sans-serif;
  text-decoration: line-through;
  opacity: 0.54;
}
.content .best-seller .card-info .list-card .card-item .card-content .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .best-seller .card-info .list-card .card-item .card-content .rating .star-rating {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.content .best-seller .card-info .list-card .card-item .card-content .rating .star-rating .icon-star {
  display: flex;
  align-items: center;
}
.content .best-seller .card-info .list-card .card-item .card-content .rating .number-rating {
  text-align: start;
  width: 50%;
}
.content .best-seller .card-info .list-card .card-item .card-content .note {
  min-height: 51px;
  font-size: 17px;
  opacity: 0.54;
}
.content .best-seller .card-info .list-card .card-item .card-content .list-icon {
  display: flex;
  flex-wrap: wrap;
}
.content .best-seller .card-info .list-card .card-item .card-content .list-icon .ingredient:not(:last-child) {
  margin-right: 10px;
}
.content .best-seller .card-info .list-card .card-item .label {
  position: absolute;
  top: 15px;
  right: 15px;
}
.content .best-seller .card-info .list-card .card-item .label .label-new {
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 12px;
  background-color: #3c863b;
  color: white;
}
.content .best-seller .card-info .list-card .card-item .label .label-sale {
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 12px;
  background-color: #d14545;
  color: white;
}
.content .best-seller .card-info .button-slide__list-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .best-seller .card-info .button-slide__list-card .button-prev__list-card .icon-control,
.content .best-seller .card-info .button-slide__list-card .button-next__list-card .icon-control {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.content .best-seller .card-info .button-slide__list-card .dots__list-card .slick-dots {
  position: unset;
  display: flex;
  align-items: center;
}
.content .fresh-food {
  width: 100%;
  border-radius: 30px;
}
.content .fresh-food .title {
  font-weight: 500;
  font-size: 28px;
}
.content .fresh-food .content__fresh-food {
  width: 100%;
  position: relative;
  border-radius: 30px;
  background-color: #efefef;
}
@media screen and (min-width: 768px) {
  .content .fresh-food .content__fresh-food {
    height: 500px;
  }
}
@media screen and (min-width: 576px) {
  .content .fresh-food .content__fresh-food {
    display: flex;
  }
}
.content .fresh-food .content__fresh-food .background {
  margin-top: 0;
}
@media screen and (min-width: 576px) {
  .content .fresh-food .content__fresh-food .background {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .content .fresh-food .content__fresh-food .background {
    width: 40%;
  }
}
.content .fresh-food .content__fresh-food .background .background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media screen and (min-width: 576px) {
  .content .fresh-food .content__fresh-food .background .background-image {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}
.content .fresh-food .content__fresh-food .fresh-food__slide {
  padding: 50px 15px;
}
@media screen and (min-width: 576px) {
  .content .fresh-food .content__fresh-food .fresh-food__slide {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .content .fresh-food .content__fresh-food .fresh-food__slide {
    width: 60%;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 25px 15px;
    transform: translate(0, -50%);
  }
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide {
  margin-top: 0;
  text-align: center;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .slick-list {
  margin: 0 -10px;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .slick-list .slick-slide {
  margin: 0 10px;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
  cursor: grab;
}
@media screen and (min-width: 1200px) {
  .content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food {
    width: 80% !important;
  }
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-image {
  padding: 0;
  border-radius: 12px;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-image .image-product {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-content {
  width: 100%;
  padding: 15px;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-content {
    padding: 25px;
  }
}
@media screen and (min-width: 768px) {
  .content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-content {
    padding: 10px;
  }
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-content .name {
  word-wrap: unset;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-content .has-sale {
  display: flex;
  font-size: 20px;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .card-slide .card-food .card-content .has-sale .old-price {
  margin-left: 10px;
  text-decoration: line-through;
  opacity: 0.54;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .button-slide__card-slide {
  display: flex;
  justify-content: center;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .button-slide__card-slide .button-prev__card-slide .icon-control,
.content .fresh-food .content__fresh-food .fresh-food__slide .button-slide__card-slide .button-next__card-slide .icon-control {
  display: flex;
  font-size: 25px;
}
.content .fresh-food .content__fresh-food .fresh-food__slide .button-slide__card-slide .dots__card-slide {
  display: flex;
  align-items: center;
}
.content .hot-deals .title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
}
.content .hot-deals .content__hot-deals {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .content .hot-deals .content__hot-deals {
    display: flex;
    justify-content: flex-start;
  }
}
.content .hot-deals .content__hot-deals > *:not(:last-child) {
  margin-bottom: 15px;
}
.content .hot-deals .content__hot-deals .card-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4ede1;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .content .hot-deals .content__hot-deals .card-deals {
    width: calc(33.3333333333% - 20px);
    margin: 0 10px;
  }
}
@media screen and (min-width: 1024px) {
  .content .hot-deals .content__hot-deals .card-deals .card-image {
    width: 300px;
  }
}
.content .hot-deals .content__hot-deals .card-deals .card-image .image-deal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .hot-deals .content__hot-deals .card-deals .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
}
.content .hot-deals .content__hot-deals .card-deals .card-content:not(:last-child) {
  margin-bottom: 12px;
}
.content .hot-deals .content__hot-deals .card-deals .card-content .title {
  margin: 0;
  font-size: 37px;
}
.content .hot-deals .content__hot-deals .card-deals .card-content .sub-title {
  font-size: 17px;
}
.content .hot-deals .content__hot-deals .card-deals .card-content .show-more {
  border: 1px solid black;
  border-radius: 30px;
  padding: 11px 36px;
  width: 100%;
  text-align: center;
  transition: all 0.3s linear;
  font-size: 20px;
}
.content .hot-deals .content__hot-deals .card-deals .card-content .show-more:hover {
  background-color: black;
  color: white;
}
.content .hot-deals .content__hot-deals .card-1 {
  background-color: #f4ede1;
}
.content .hot-deals .content__hot-deals .card-2 {
  background-color: #f8e6e5;
}
.content .hot-deals .content__hot-deals .card-3 {
  background-color: #e3eef3;
}
.content .shop-category .title {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .content .shop-category .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.content .shop-category .title .main-title {
  font-size: 28px;
  font-weight: 500;
}
.content .shop-category .title .link-title {
  margin-bottom: 20px;
}
.content .shop-category .title .link-title .line-bottom {
  border-bottom: 1px solid black;
}
.content .shop-category .categories-slider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.content .shop-category .categories-slider .slick-list {
  margin: 0 -10px;
}
.content .shop-category .categories-slider .slick-list .slick-slide {
  margin: 0 10px;
}
.content .shop-category .categories-slider .card-category {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  min-height: 270px;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
}
.content .shop-category .categories-slider .card-category .card-image {
  padding: 0;
  overflow: hidden;
}
.content .shop-category .categories-slider .card-category .card-content {
  padding: 15px;
  word-wrap: break-word;
  text-align: center;
}
.content .shop-category .button-slide__categories-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .shop-category .button-slide__categories-slider .button-prev__categories-slider .icon-control,
.content .shop-category .button-slide__categories-slider .button-next__categories-slider .icon-control {
  display: flex;
  font-size: 25px;
}
.content .shop-category .button-slide__categories-slider .dots__categories-slider .slick-dots {
  position: unset;
  display: flex;
}
.content .recipes {
  background-color: #e1e0d7;
  height: 545px;
  position: relative;
  display: flex;
  justify-content: center;
}
.content .recipes .banner-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .recipes .banner-recipes .background-image {
  height: 50%;
}
.content .recipes .banner-recipes .background-image .image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .recipes .banner-recipes .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .recipes .banner-recipes .content .title {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
.content .recipes .banner-recipes .content .explore {
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 45px;
  font-size: 20px;
  width: 200px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.content .recipes .banner-recipes .content .explore:hover {
  background-color: black;
  color: white;
  transition: all 0.5s ease-in-out;
}
.content .shop-lifestyle .lifestyle-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content .shop-lifestyle .lifestyle-slider .slick-list {
  margin: 0 -10px;
}
.content .shop-lifestyle .lifestyle-slider .slick-list .slick-slide {
  margin: 0 10px;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-image {
  border-radius: 200px;
  width: 160px;
  height: 160px;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-image .image-lifestyle {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-1 {
  background-color: #d8e9d3;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-2 {
  background-color: #ece7d9;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-3 {
  background-color: #d4e4de;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-4 {
  background-color: #e9d6d6;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-5 {
  background-color: #e7e7e7;
}
.content .shop-lifestyle .lifestyle-slider .card-lifestyle .card-content {
  text-align: center;
}
.content .shop-lifestyle .button-slide__lifestyle-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .shop-lifestyle .button-slide__lifestyle-slider .button-prev__lifestyle-slider .icon-control,
.content .shop-lifestyle .button-slide__lifestyle-slider .button-next__lifestyle-slider .icon-control {
  display: flex;
  font-size: 25px;
}
.content .shop-lifestyle .button-slide__lifestyle-slider .dots__lifestyle-slider .slick-dots {
  position: unset;
  display: flex;
}
.content .banner-promotion {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content .banner-promotion {
    height: 300px;
    display: flex;
    justify-content: space-between;
  }
}
.content .banner-promotion .background-image {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .content .banner-promotion .background-image {
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
.content .banner-promotion .background-image .image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.content .banner-promotion .bakery-banner {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .content .banner-promotion .bakery-banner {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
}
.content .banner-promotion .bakery-banner .content {
  max-width: 60%;
  position: absolute;
  bottom: 0;
  word-wrap: break-word;
  padding: 25px;
}
.content .banner-promotion .bakery-banner .content a {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 768px) {
  .content .banner-promotion .bakery-banner .content a {
    border-bottom: none;
  }
}
.content .banner-promotion .fruit-banner {
  width: 100%;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .content .banner-promotion .fruit-banner {
    width: calc(50% - 10px);
    margin-left: 10px;
  }
}
.content .banner-promotion .fruit-banner .content {
  max-width: 60%;
  position: absolute;
  bottom: 0;
  padding: 25px;
}
.content .banner-promotion .fruit-banner .content a {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 768px) {
  .content .banner-promotion .fruit-banner .content a {
    border-bottom: none;
  }
}
.content .quick-buy {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content .quick-buy {
    display: flex;
    justify-content: space-between;
  }
}
.content .quick-buy .quick-buy__slide {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content .quick-buy .quick-buy__slide {
    width: 50%;
  }
}
.content .quick-buy .quick-buy__slide .image-preview .image-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .quick-buy .quick-buy__slide .button-slide__quick-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .quick-buy .quick-buy__slide .button-slide__quick-buy .button-prev__quick-buy .icon-control,
.content .quick-buy .quick-buy__slide .button-slide__quick-buy .button-next__quick-buy .icon-control {
  display: flex;
  font-size: 25px;
}
.content .quick-buy .quick-buy__slide .button-slide__quick-buy .dots__quick-buy .slick-dots {
  position: unset;
  display: flex;
}
@media screen and (min-width: 768px) {
  .content .quick-buy .content {
    width: 45%;
  }
}
.content .quick-buy .content .product-info {
  border-bottom: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.content .quick-buy .content .product-info .price {
  display: flex;
  font-size: 21px;
}
.content .quick-buy .content .product-info .price .old-price {
  text-decoration: line-through;
  margin-left: 10px;
  opacity: 0.54;
}
.content .quick-buy .content .product-info .name {
  font-size: 49px;
  margin-bottom: 20px;
  margin-top: 0;
}
.content .quick-buy .content .product-info .describe {
  margin-bottom: 20px;
}
.content .quick-buy .content .product-info .style-select {
  font-size: 17px;
  font-weight: 500;
}
.content .quick-buy .content .product-info .select-type {
  display: flex;
  margin: 15px 15px 15px 0;
}
.content .quick-buy .content .product-info .select-type .button-select {
  padding: 12px 20px;
  border: 1px solid rgba(29, 29, 29, 0.1490196078);
  border-radius: 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin-right: 15px;
}
.content .quick-buy .content .product-info .select-type .button-select:focus {
  border: 2px solid black;
  opacity: 1;
}
.content .quick-buy .content .product-info .last-price {
  display: flex;
  align-items: center;
}
.content .quick-buy .content .product-info .last-price .new-price {
  font-size: 38px;
}
.content .quick-buy .content .product-info .last-price .price-compare {
  margin-left: 20px;
}
.content .quick-buy .content .product-info .last-price .price-compare .old-price {
  opacity: 1;
  margin: 0;
  text-decoration: line-through;
  font-size: 13px;
}
.content .quick-buy .content .product-info .last-price .price-compare .compare {
  opacity: 0.5;
  font-size: 13px;
}
.content .quick-buy .content .button-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.content .quick-buy .content .button-actions .quantity-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
@media screen and (min-width: 768px) {
  .content .quick-buy .content .button-actions .quantity-button {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .content .quick-buy .content .button-actions .quantity-button {
    width: 33.3333333333%;
  }
}
.content .quick-buy .content .button-actions .quantity-button .decrement {
  border: 1px solid black;
  width: 33.3333333333%;
  aspect-ratio: 1;
  border-radius: 100%;
  font-size: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .quick-buy .content .button-actions .quantity-button .decrement .icon-button {
  display: flex;
  font-size: 20px;
}
.content .quick-buy .content .button-actions .quantity-button .quantity {
  width: 33.3333333333%;
  aspect-ratio: 1;
  border-radius: 100%;
  font-size: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .quick-buy .content .button-actions .quantity-button .increment {
  border: 1px solid black;
  width: 33.3333333333%;
  aspect-ratio: 1;
  border-radius: 100%;
  font-size: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .quick-buy .content .button-actions .quantity-button .increment .icon-button {
  display: flex;
  font-size: 20px;
}
.content .quick-buy .content .button-actions .add-button {
  background-color: black;
  color: white;
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
}
@media screen and (min-width: 576px) {
  .content .quick-buy .content .button-actions .add-button {
    width: calc((100% - 180px) / 2 - 10px);
  }
}
@media screen and (min-width: 768px) {
  .content .quick-buy .content .button-actions .add-button {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .content .quick-buy .content .button-actions .add-button {
    width: 33.3333333333%;
    width: 30%;
  }
}
.content .quick-buy .content .button-actions .buy-button {
  border: 1px solid black;
  width: 100%;
  margin-top: 15px;
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 576px) {
  .content .quick-buy .content .button-actions .buy-button {
    width: calc((100% - 180px) / 2 - 10px);
  }
}
@media screen and (min-width: 768px) {
  .content .quick-buy .content .button-actions .buy-button {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .content .quick-buy .content .button-actions .buy-button {
    margin-top: 0;
    width: calc(33.3333333333% - 20px);
  }
}
.content .quick-buy .content .button-actions .buy-button:hover {
  background-color: black;
  color: white;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .content .discount-banner {
    height: 440px;
  }
}
.content .discount-banner .banner-promotion {
  width: 100%;
  background-color: #e7e7e7;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .content .discount-banner .banner-promotion {
    flex-direction: row-reverse;
  }
}
.content .discount-banner .banner-promotion .content {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .content .discount-banner .banner-promotion .content {
    max-width: 45%;
  }
}
.content .discount-banner .banner-promotion .content .title {
  font-size: 38px;
  margin: 0;
}
.content .discount-banner .banner-promotion .content .explore {
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 46px;
  width: 200px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.content .discount-banner .banner-promotion .content .explore:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}
.content .discount-banner .banner-promotion .background-image {
  position: relative;
  z-index: 0;
}
.content .discount-banner .banner-promotion .background-image .image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .list-hot-deals .title {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .content .list-hot-deals .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.content .list-hot-deals .title .title-hot-deals {
  margin: 0;
  font-size: 28px;
}
.content .list-hot-deals .title .all-deals {
  border-bottom: 1px solid black;
  font-size: 20px;
}
.content .list-hot-deals .list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.content .list-hot-deals .list-products .card-product {
  position: relative;
  width: calc(50% - 15px);
  margin-bottom: 15px;
  border: 1px solid rgba(29, 29, 29, 0.1490196078);
  border-radius: 12px;
  padding: 5px;
}
.content .list-hot-deals .list-products .card-product:not(:last-child) {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .content .list-hot-deals .list-products .card-product {
    width: calc(33.3333333333% - 15px);
  }
  .content .list-hot-deals .list-products .card-product:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .content .list-hot-deals .list-products .card-product {
    width: calc(25% - 25px);
    margin-bottom: 25px;
  }
  .content .list-hot-deals .list-products .card-product:not(:last-child) {
    margin-right: 25px;
  }
}
.content .list-hot-deals .list-products .card-product .background-image {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content .list-hot-deals .list-products .card-product .background-image .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
}
.content .list-hot-deals .list-products .card-product .background-image .product-image:hover {
  cursor: pointer;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .list-hot-deals .list-products .card-product .product-info {
  padding: 15px;
}
.content .list-hot-deals .list-products .card-product .product-info .price {
  display: flex;
  font-size: 20px;
}
.content .list-hot-deals .list-products .card-product .product-info .price .old-price {
  margin-left: 10px;
  opacity: 0.54;
  text-decoration: line-through;
}
.content .list-hot-deals .list-products .card-product .product-info .name {
  font-size: 25px;
}
.content .list-hot-deals .list-products .card-product .label {
  height: 65px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.content .list-hot-deals .list-products .card-product .label .label-sale {
  padding: 5px 7px;
  border-radius: 3px;
  background-color: #d14545;
  color: white;
}
.content .list-hot-deals .list-products .card-product .label .label-soldout {
  padding: 5px 7px;
  border-radius: 3px;
  background-color: #757575;
  color: white;
}
.content .list-hot-deals .list-products .card-product .label .label-preorder {
  padding: 5px 7px;
  border-radius: 3px;
  background-color: #a36754;
  color: white;
}
.content .video-introducing {
  position: relative;
  height: 300px;
}
.content .video-introducing .background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.content .video-introducing .content-introducing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  color: white;
}
.content .video-introducing .content-introducing .subtitle-introducing {
  font-size: 17px;
}
.content .video-introducing .content-introducing .title-introducing {
  font-size: 68px;
  font-weight: 500;
}
.content .video-introducing .content-introducing .explore-introducing {
  padding: 15px 46px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 21px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.content .video-introducing .content-introducing .explore-introducing:hover {
  background-color: #000000;
  color: white;
  border: 1px solid black;
}
.content .banner-bakery {
  background-color: #d9dfda;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}
.content .banner-bakery .banner-container {
  position: relative;
}
.content .banner-bakery .banner-container .title-banner {
  text-align: center;
}
.content .banner-bakery .banner-container .title-banner .title {
  font-size: 28px;
}
.content .banner-bakery .banner-container .title-banner .sub-title {
  font-size: 18px;
}
.content .banner-bakery .banner-container .image-banner {
  width: 100%;
}
.content .banner-bakery .banner-container .image-banner .product-image {
  width: 100%;
}
.content .list-services {
  justify-content: center;
  align-items: center;
}
.content .list-services .service {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 15px) !important;
}
.content .list-services .service .image-container {
  width: 160px;
  height: 160px;
  overflow: hidden;
}
.content .list-services .service .image-container .image-service {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.content .list-services .service .image-container .image-service:hover {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .list-services .service .content {
  text-align: center;
}
.content .list-services .service .content .name-service {
  font-size: 21px;
  font-weight: 400;
}
.content .list-services .service .content .describe {
  font-size: 12px;
  opacity: 0.62;
}
.content .button-slide__list-services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.content .button-slide__list-services .button-prev__list-services .icon-control,
.content .button-slide__list-services .button-next__list-services .icon-control {
  display: flex;
  font-size: 25px;
}
.content .button-slide__list-services .dots__list-services {
  display: flex;
}
.content .button-slide__list-services .dots__list-services .slick-dots {
  display: flex;
  position: unset;
}
.content .articles .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .articles .title .main-title {
  font-size: 28px;
}
.content .articles .title .explore {
  border-bottom: 1px solid black;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .content .articles .content {
    display: flex;
    justify-content: space-between;
  }
}
.content .articles .content .new-article {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content .articles .content .new-article {
    width: calc(33.3333333333% - 10px);
  }
}
@media screen and (min-width: 1024px) {
  .content .articles .content .new-article {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
.content .articles .content .new-article .image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.content .articles .content .new-article .image-container .image-article {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.content .articles .content .new-article .image-container .image-article:hover {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .articles .content .new-article .title-article .time {
  font-size: 15px;
  color: rgba(29, 29, 29, 0.6);
}
.content .articles .content .new-article .title-article .name {
  font-size: 20px;
}
.content .articles .content .old-articles {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content .articles .content .old-articles {
    display: flex;
    width: calc(100% - (33.3333333333% - 10px));
  }
}
@media screen and (min-width: 1024px) {
  .content .articles .content .old-articles {
    display: flex;
    width: calc(100% - (50% - 20px));
  }
}
.content .articles .content .old-articles .article-item {
  width: 100%;
}
.content .articles .content .old-articles .article-item .image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.content .articles .content .old-articles .article-item .image-container .image-article {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.content .articles .content .old-articles .article-item .image-container .image-article:hover {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .articles .content .old-articles .article-item .title-article .time {
  font-size: 15px;
  color: rgba(29, 29, 29, 0.6);
}
.content .articles .content .old-articles .article-item .title-article .name {
  font-size: 20px;
  word-wrap: break-word;
}
@media screen and (min-width: 768px) {
  .content .articles .content .old-articles .article-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .content .articles .content .old-articles .article-1 {
    margin-left: 0;
    margin-right: 20px;
  }
}
.content .events .title {
  font-size: 28px;
  font-weight: 500;
}
.content .events .list-events {
  border: 1px solid rgba(29, 29, 29, 0.1490196078);
  border-radius: 12px;
}
.content .events .list-events .event {
  width: 100%;
  cursor: pointer;
}
.content .events .list-events .event:not(:last-child) {
  border-bottom: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.content .events .list-events .event .event-actions {
  padding: 19px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .events .list-events .event .event-actions .button-toggle .icon-plus {
  display: flex;
  font-size: 15px;
}
.content .events .list-events .event .event-actions .info {
  width: 80%;
}
.content .events .list-events .event .event-actions .info .name {
  font-size: 17px;
}
.content .events .list-events .event .event-actions .info .address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .events .list-events .event .event-actions .info .address .detail {
  width: 97%;
  font-size: 15px;
}
.content .events .list-events .event .event-actions .register {
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 11px 36px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.content .events .list-events .event .content-toggle {
  padding: 25px 48px;
  border-top: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.content .events .list-events .event .content-toggle > * {
  font-size: 17px;
  margin-bottom: 16px;
}
.content .events .list-events .event .content-toggle .text-underline {
  text-decoration: underline;
}
.content .review .title {
  margin-bottom: 40px;
}
.content .review .title .main-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
}
.content .review .title .sub-title {
  font-size: 20px;
}
.content .review .review-container {
  padding: 40px 25px;
  background-color: #ebebe5;
  border-radius: 12px;
}
@media screen and (min-width: 1200px) {
  .content .review .review-container .list-review .review-slide {
    padding: 0 208px;
  }
}
.content .review .review-container .list-review .review-slide .info {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
}
.content .review .review-container .list-review .review-slide .info .info-image {
  width: 70px;
  height: 70px;
}
.content .review .review-container .list-review .review-slide .info .info-image .avt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.content .review .review-container .list-review .review-slide .info .info-detail {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
  flex-direction: column;
}
.content .review .review-container .list-review .review-slide .review-text {
  padding-top: 50px;
  font-family: "Crimson Text", serif;
  font-size: 34px;
  text-align: center;
}
.content .review .review-container .button-slide__review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .review .review-container .button-slide__review .button-prev__review .icon-control,
.content .review .review-container .button-slide__review .button-next__review .icon-control {
  display: flex;
  font-size: 25px;
}
.content .signup-newsletter {
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 40px;
  text-align: center;
}
.content .signup-newsletter .signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .signup-newsletter .signup-container .fi-rs-paper-plane {
  font-size: 52px;
}
.content .signup-newsletter .signup-container .title-signup {
  font-size: 37px;
}
.content .signup-newsletter .signup-container .submit-email {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .content .signup-newsletter .signup-container .submit-email {
    width: 50%;
  }
}
.content .signup-newsletter .signup-container .submit-email .input-email {
  width: 75%;
  padding: 12px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: 1px solid white;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  color: white;
}
.content .signup-newsletter .signup-container .submit-email .input-email::placeholder {
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
}
.content .signup-newsletter .signup-container .submit-email .submit-button {
  padding: 8px 35px;
  border: 1px solid white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  font-size: 17px;
}
.content .signup-newsletter .signup-container .subtitle {
  margin: 32px 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.content .text-running {
  font-size: 25px;
}
.content .text-running .slick-list {
  margin: 0 -20px;
}
.content .text-running .slick-list .slick-slide {
  margin: 0 20px;
}
.content .text-running .text-underline {
  text-decoration: underline;
}
.content .text-running .text-italic {
  font-style: italic;
}

.footer {
  margin-top: 100px;
  border-top: 1px solid rgba(29, 29, 29, 0.1490196078);
}
.footer .footer-links {
  margin-top: 0;
}
.footer .footer-links .introduce {
  width: 100%;
}
.footer .footer-links .introduce .social-icons .icon-social {
  font-size: 24px;
}
.footer .footer-links .categories-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-align: justify;
}
.footer .footer-links .categories-links a {
  border-bottom: 1px solid black;
  position: relative;
}
.footer .footer-links .quick-links {
  display: flex;
  flex-direction: column;
}
.footer .footer-links .quick-links a {
  border-bottom: 1px solid black;
  position: relative;
}
.footer .footer-links .introduce {
  width: 100%;
}
.footer .footer-links .store {
  width: 25%;
}
@media screen and (min-width: 768px) {
  .footer .footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 40px;
  }
  .footer .footer-links .introduce,
  .footer .footer-links .categories-links,
  .footer .footer-links .store,
  .footer .footer-links .quick-links {
    width: 50%;
  }
  .footer .footer-links .introduce .store-container,
  .footer .footer-links .categories-links .store-container,
  .footer .footer-links .store .store-container,
  .footer .footer-links .quick-links .store-container {
    display: block;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer-links {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
  }
  .footer .footer-links .introduce,
  .footer .footer-links .categories-links,
  .footer .footer-links .store,
  .footer .footer-links .quick-links {
    width: 25%;
  }
}
.footer .footer-copyright {
  border-top: 1px solid rgba(29, 29, 29, 0.1490196078);
  padding: 25px 0;
}
.footer .footer-copyright .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-copyright .footer-container > * {
  margin-top: 0;
}
.footer .footer-copyright .footer-container .line-bottom {
  border-bottom: 1px solid black;
}
.footer .footer-copyright .footer-container select {
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
